{% extends 'fragment/framePage.html' %}
    {% block body_block %}
    {% block jumbotron_block %}
        {% include "fragment/frameJumbotron.html" %}
    {% endblock %}

    <div style="margin-bottom: 20px">
        <h3>Le centre {{ id}} : {{ label }} : {{ adresse }} a bien été supprimé.
            <br> Voici la nouvelle liste des centres : <br>
        </h3>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #AA6C39">
                <th scope="col">id</th>
                <th scope="col">label</th>
                <th scope="col">adresse</th>
            </tr>
        </thead>
        
        <tbody>
        {% comment %} La liste des centres est dans une variable $results {% endcomment %}
        {% for centre in centre_info %}
            <tr>
                <td>{{ centre.id }}</td>
                <td>{{ centre.label }}</td>
                <td>{{ centre.adresse }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}