{% extends "fragment/framePage.html" %}
    {% block background_block %}
    <div class="parallax parallax2">
        <div class="titre">
            Découvrez nos centre de vaccination...
        </div>
    </div>
    {% endblock %}

    {% block body_block %}
    {% block jumbotron_block %}
        {% include "fragment/frameJumbotron.html" %}
    {% endblock%}

    <form class="navbar-form navbar-right" role="search" method="get" action="router2.php" style="margin-bottom: 14px">
        <input type="hidden" name="action" value="searchCentre">
        <div class="form-group">
            <input name="searching" type="text" class="form-control" size='44' placeholder="Rechercher par label du centre...">
        </div>
        <button type="submit" class="btn btn-danger">Rechercher</button>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #AA6C39">
                <th scope="col">id</th>
                <th scope="col">label</th>
                <th scope="col">adresse</th>
            </tr>
        </thead>

        <tbody>
            {% for centre in centre_info %}
            <tr>
                <td>{{ centre.id }}</td>
                <td>{{ centre.label }}</td>
                <td>{{ centre.adresse }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}