{% extends "fragment/framePage.html" %}
    {% block background_block %}    
    <div class="parallax parallax2">
        <div class="titre">
            Stock des vaccins ...
        </div>
    </div>
    {% endblock %}

    {% block body_block %}
    {% if stockAdded != None %}
        {% if stockAdded != -1 %}
        <h3 style='display: block;'>Vous avez ajouté {{stockAdded.vaccin_add}} dose(s) de vaccin {{stockAdded.vaccin_label}} au centre {{stockAdded.centre_label}}::{{stockAdded.centre_adresse}}. <br>
        La banque de réserve de vaccins au centre {{stockAdded.centre_label}}:{{stockAddedcentre_adresse}} stocke actuellement {{stockAdded.quantite}} dose(s) de vaccin {{stockAdded.vaccin_label}}. <br>
        <h2>Voici la nouvelle liste de vaccins en stock: </h2></h3>
        
        {% elif stockAdded == -1 %}
            <h3 style='display: block;'>Vous avez ajouté {{vaccin_add}} dose(s) de vaccin {{vaccin_label}} au centre {{centre_label}}:{{centre_adresse}}. <br>
                La banque de réserve de vaccins au centre {{centre_label}}::{{centre_adresse}} stocke actuellement {{vaccin_add}} dose(s) de vaccin {{vaccin_label}}. <br>
            <h2>Voici la nouvelle liste de vaccins en stock: </h2></h3>
        {% endif %}
    {% endif %}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #AA6C39">
                <th scope="col">Vaccin</th>
                <th scope="col">Centre de vaccination</th>
                <th scope="col">Adresse</th>
                <th scope="col">Quantité du vaccin en stock</th>
            </tr>
        </thead>

        <tbody>
        {% if results != None %}
            {% for stock_info in results %}
            <tr>
                <td>{{ stock_info.0 }}</td>
                <td>{{ stock_info.1 }}</td>
                <td>{{ stock_info.2 }}</td>
                <td>{{ stock_info.3 }}</td>
            </tr>     
            {% endfor %}     
        {% endif %}
        </tbody>
    </table>

    <button class="btn btn-primary" onclick="history.go(-1)" style="margin: 8px 0px">Page précédente</button>
    {% endblock %}
        