{% extends "fragment/framePage.html" %}
    {% block background_block %}
    <div class="parallax parallax2">
        <div class="titre">
            Stock des vaccins ...
        </div>
    </div>
    {% endblock %}

    {% block body_block%}
    {% block jumbotron_block %}
        {% include "fragment/frameJumbotron.html" %}
    {% endblock %}

    <form class="navbar-form navbar-right" role="search" method="get" action="router2.php" style="margin-bottom: 20px">
        <input type="hidden" name="action" value="searchStock">
        <div class="form-group">
            <input name="searching" type="text" class="form-control" size='44' placeholder="Rechercher par le label du vaccin...">
        </div>
        <button type="submit" class="btn btn-danger">Rechercher</button>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #AA6C39">
                <th scope="col">Centre de vaccination</th>
                <th scope="col">Adresse</th>
                <th scope="col">Quantité du vaccin en stock</th>
            </tr>
        </thead>

        <tbody>
            {% if numberOfDosesByCenter != None %}
            {% comment %} results is a dictonary {% endcomment %}
                {% for quantity,centre in results.items %}
                <tr>
                    <td>{{ centre.0 }}</td>
                    <td>{{ centre.1 }}</td>
                    <td>{{ quantity }} </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="history.go(-1)" style="margin: 8px 0px">Page précédente</button>
    {% endblock %}
    
    <button class="btn btn-primary" onclick="history.go(-1)" style="margin: 8px 0px">Page précédente</button>