{% extends "fragment/framePage.html" %} 
{% block body_block %} 
    {% csrf_token %}    

    {% if result %}
    <h3>Le nouveau vaccin a été ajouté</h3>
    <ul>
        <li>id = {{ id }}</li>
        <li>label = {{ label }}</li>
        <li>doses = {{ doses }}</li>
    </ul>

    <h3>Voici la nouvelle liste des vaccins:</h3>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #aa6c39">
                <th scope="col">id</th>
                <th scope="col">label</th>
                <th scope="col">doses</th>
            </tr>
        </thead>
        <tbody>
            {% for vaccin in vaccin_info %}
            <tr>
                <td>{{ vaccin.id }}</td>
                <td>{{ vaccin.label }}</td>
                <td>{{ vaccin.doses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h3>Problème d'insertion du Vaccin.</h3>
        <h3 style="color: red" ;>
        Veuillez vérifier toutes les infos du vaccin dans le formulaire ont été bien
        renseignées ou le nom du vaccin est dupliqué.
        </h3>
    {% endif %}

    <button class="btn btn-primary" style="margin-bottom: 7px" onclick="history.go(-1)" style="margin-bottom: 8px">
    Page précédente
    </button>
{% endblock %}
