{% extends "fragment/framePage.html" %}
    {% block background_block %}
    <div class="parallax">
        <div class="titre">Découvrez nos vaccins...</div>
    </div>
    {% endblock %}

    {% block body_block %}
    {% block jumbotron_block %}
        {% include "fragment/frameJumbotron.html" %}
    {% endblock %}
    
    <form role="form" method='GET' action="{% url target %}" style="margin-bottom: 8px">
        <div class="form-group">
            {% comment %} <input type="hidden" name='action' value={{target}}> {% endcomment %}
            <label for="label">Choisir un vaccin : </label> 
            <select class="form-control" id='label' name='label' style="width: 100px">
                {% for vaccin in vaccin_info %}
                    <option>{{ vaccin.label }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
    {% endblock %}