{% extends "fragment/framePage.html" %}
    {% block body_block %}
        <form class="navbar-form navbar-right" role="search" method="get" action="router2.php" style="margin-bottom: 14px">
            <input type="hidden" name="action" value="searchVaccin">
            <div class="form-group">
                <input name="searching" type="text" class="form-control" size='44' placeholder="Rechercher par label...">
            </div>
            <button type="submit" class="btn btn-danger">Rechercher</button>
        </form>
        
        <br><br>
        
        <div style="margin-bottom: 20px">
            <h3>Le vaccin {{ vaccin_label }} a bien été modifié.
                <br> Voici la nouvelle liste des vaccins : <br>
            </h3>
        </div>
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr style="background-color: #AA6C39">
                    <th scope="col">id</th>
                    <th scope="col">label</th>
                    <th scope="col">doses</th>
                </tr>
            </thead>

            <tbody>
                {% for vaccin in vaccin_info %}
                <tr>
                    <td>{{ vaccin.id }}</td>
                    <td>{{ vaccin.label }}</td>
                    <td>{{ vaccin.doses }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-primary" style="margin-bottom:7px;" onclick="history.go(-1)" style="margin-bottom: 8px">Page précédente</button>
    {% endblock %}