{% extends "fragment/framePage.html" %} 
    {% block background_block%}
    <div class="parallax">
        <div class="titre">Vaccination contre le COVID-19 !</div>
    </div> 
    {% endblock %}

    {% block body_block %}
    <!-- Ensure the security of the form submitting -->
    {% csrf_token %}
    <div class="jumbotron">
        <a href="{% url 'vaccin:vaccinReadAll' %}"><h1 style="color: white; font-family: 'Red Rose', cursive;">Découvrez nos vaccins !</h1></a>
    </div>

    <div class="jumbotron">
        <a href="{% url 'centre:centreReadAll' %}"><h1 style="color: white; font-family: 'Red Rose', cursive;">Allez à nos centres de vaccination !</h1></a>
    </div>

    <div class="jumbotron">
        <a href="router2.php?action=stockReadDosesByVaccinByCenter"><h1 style="color: white; font-family: 'Red Rose', cursive;">Nos stocks !</h1></a>
    </div>

    <div class="jumbotron">
        <a href="router2.php?action=rdvReadAll"><h1 style="color: white; font-family: 'Red Rose', cursive;">Liste des rendez-vous !</h1></a>
    </div>
    {% endblock %}
